# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Environment files
.env
.env.*

# Jupyter notebooks
*.ipynb

# IDE / Editor files
.vscode/
.idea/

# Logs
*.log

# System files
.DS_Store
Thumbs.db
